#App {
  max-width: 1000px;
  margin: 0 auto;
  nav,
  footer {
    padding: 1em;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      padding: 0 0.5em 0.15em 0.5em;
      border-radius: 12px;
      color: var(--red1);
      background-color: var(--white);
    }
    div {
      display: flex;
      align-items: center;
      gap: 1em;
      button {
        padding: 0.5em;
        font-weight: bold;
        background-color: transparent;
        color: var(--blue1);
        border: 2px solid var(--blue1);
        border-radius: 4px;
      }
      input {
        padding: 0.5em;
        border-radius: 8px;
        outline: none;
        color: var(--white);
        background-color: var(--gray3);
        &:focus {
          border-color: var(--blue1);
        }
      }
    }

    @media screen and (max-width: 769px) {
      input {
        max-width: 80px;
        transition: all ease-in 1s;
        &:focus {
          max-width: 100%;
        }
      }
    }
  }
}
