#Home {
  .container {
    // LAYOUT
    display: grid;
    gap: 1em;
    &.client {
      grid-template-columns: 1fr 3fr;
      // grid-template-rows: 2fr 1fr;
    }
    &.not_client {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
    }
    .Pending {
      grid-column: 1/3;
    }
    // STYLES
    .Onsite,
    .Active {
      height: 55vh;
      .header {
        background-color: var(--gray4);
        position: sticky;
        top: 0;
        z-index: 5;
      }
    }
    .Onsite,
    .Active,
    .Pending {
      //background-color: var(--gray3);
      border: 2px solid var(--gray2);
      overflow-y: scroll;
      .header {
        padding: 0.75em 1em;
        border-bottom: 2px solid var(--gray1);
        h2 {
          display: inline;
          padding: 0.05em 0.25em;
          border-radius: 12px;
        }
      }
      .req,
      .vis {
        cursor: pointer;
      }
    }
    .Onsite {
      text-align: center;
      .header {
        border-color: var(--blue1);
        h2 {
          color: var(--blue1);
          background-color: var(--blue2);
        }
      }
      .visitors {
        .vis {
          padding: 0.5em;
          &:hover {
            color: var(--blue1);
            background-color: var(--blue2);
            border-bottom: 3px solid var(--blue1);
            border-radius: 4px;
            overflow: hidden;
          }
          h4,
          h6 {
            color: var(--blue1);
          }
        }
      }
    }
    .Active {
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-color: var(--green1);
        h2 {
          color: var(--green1);
          background-color: var(--green2);
        }
        .filters {
          display: flex;
          gap: 0.5em;
        }
      }
      .requests {
        .req {
          padding: 0.5em;
          margin: 1em;
          //background-color: var(--gray3);
          border: 2px solid var(--gray2);
          border-radius: 4px;
          &:hover {
            color: var(--blue1);
            background-color: var(--blue2);
            border-color: transparent;
            border-left: 3px solid var(--blue1);
            border-radius: 4px;
            overflow: hidden;
          }
          h3,
          h5 {
            color: var(--green1);
          }
          h4 {
            padding: 0.5em 0;
          }
          .visitors {
            display: flex;
            gap: 1em;
          }
        }
      }
    }
    .Pending {
      .header {
        border-color: var(--orange1);
        h2 {
          color: var(--orange1);
          background-color: var(--orange2);
        }
      }
      .requests {
        display: flex;
        overflow-x: scroll;
        .req {
          margin: 1em 0.5em;
          padding: 0.5em;
          width: 350px;
          height: 200px;
          overflow-y: scroll;
          border: 2px solid var(--gray2);
          border-radius: 4px;
          &:hover {
            color: var(--blue1);
            background-color: var(--blue2);
            border-color: var(--blue1);
          }
          h3,
          h5 {
            color: var(--orange1);
          }
        }
      }
    }
  }
}
