#Request {
  .container {
    display: grid;
    gap: 1em;
    &.client {
    }
    &.not_client {
    }
    .Info,
    .Visitors,
    .Logs {
      padding: 1em;
      border: 2px solid var(--gray2);
    }
    .Info {
      h2,
      .status {
        display: inline-block;
      }
      h2,
      .window {
        color: var(--blue1);
      }
      .window {
        margin: 0.5em 0;
      }
      .status {
        margin-left: 1em;
        padding: 0.25em 0.5em;
        border-radius: 1em;
        &.active {
          color: var(--green1);
          background-color: var(--green2);
        }
        &.pending {
          color: var(--orange1);
          background-color: var(--orange2);
        }
        &.cancelled {
          color: var(--red1);
          background-color: var(--red2);
        }
      }
      h4 {
        margin-bottom: 0.5em;
      }
      .actions {
        margin-top: 0.5em;
        button {
          margin-right: 1em;
          padding: 0.5em;
          border-radius: 4px;
          &.approve {
            color: var(--green1);
            background-color: var(--green2);
            border: 1px solid var(--green1);
          }
          &.deny {
            color: var(--red1);
            background-color: var(--red2);
            border: 1px solid var(--red1);
          }
        }
      }
    }
    .Visitors {
      .header {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;
        h2 {
          padding-bottom: 0.25em;
        }
        .selected {
          color: var(--red1);
          &.true {
            color: var(--blue1);
          }
        }
        button {
          margin-right: 0.5em;
          padding: 0.5em;
          color: var(--blue1);
          background-color: var(--blue2);
          border: 1px solid var(--blue1);
          border-radius: 8px;
        }
      }
      .cards {
        display: flex;
        gap: 1em;
        .visitor {
          min-width: 150px;
          min-height: 200px;
          padding: 0.5em;
          border: 2px solid var(--gray2);
          border-radius: 8px;
          &.in {
            color: var(--green1);
            border-color: var(--green2);
          }
          &.selected {
            color: var(--blue1);
            background-color: var(--blue2);
            border-color: var(--blue1);
          }
          .status {
            display: inline-block;
            padding: 0.25em 0.5em;
            border-radius: 8px;
            &.in {
              color: var(--green1);
              background-color: var(--green2);
            }
            &.out {
              color: var(--red1);
              background-color: var(--red2);
            }
          }
          h5 {
            display: inline-block;
            padding: 0.5em 0.75em;
            margin: 0.5em 0;
            border-radius: 50%;
            color: var(--white);
            background-color: var(--gray2);
          }
          select {
            margin: 8px 0;
            color: var(--blue1);
            background-color: var(--orange2);
            border: 1px solid var(--orange1);
            border-radius: 4px;
            padding: 0.25em;
            outline: none;
            font-weight: 600;
          }
        }
      }
    }
    .Log {
    }
  }
}
